<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <meta charset="UTF-8">
    <title>Order-in!</title>
    <style>
      .navBar{
        background-color: gray;
        display: inline;
        font-weight: bold;
        color: blue;
      }
      .container{
        padding: 20px;
      }
    </style>
</head>
<body>
	<div class="container">
    <a href='../'><i class="fa fa-home" style="font-size:24px"></i></a>
    <a href='../addRestaurant'><i class="fa fa-plus-circle" style="font-size:24px"></i></a>
    <br>
    <a class="navBar" href='../grubhub'>Featured on GrubHub</a>
    <a class="navBar" href='../9AM'>Open by 9AM</a>
    <a class="navBar" href='../milkshakes'>Restaurants with milkshakes</a>
    <a class="navBar" href='../midnight'>Open to midnight or later</a>
    <a class="navBar" href='../deliveryTime'>Sort by shortest delivery time</a>
    <br>
    <br>
	    {{{body}}}
	</div>
</body>

</html>
